<!DOCTYPE html>
<html>
<head>
	<title>Please God, make this work!</title>
</head>
<body>
	<form action="/create" method="Post">
	  First name: <input type="text" name="title"><br>
	  Last name: <input type="text" name="body"><br>
	  <input type="submit" value="Submit">
	</form>
</body>
</html>>